.tooltip {
    background: white;
    border: 1px solid;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
}
html{
	margin: 0;
	padding:0;
	background-color: brown;
}

body {
  width: 85%;
  margin: 0 auto;
  padding: 1em 50 px;
  font-family: Verdana;
  background: #FDF6E3;
}
 
h1 {
  font-weight: 700;
  color: brown;
  font-size: 200%;
  padding: 3% 7%;
}

h3 {
  font-weight: 700;
  color: brown;
  font-size: 120%;
  padding: 0% 5%;
}

p{
	padding: 1% 7%;
	text-align: justify;
}

svg {
    display: block;
    margin: 0 auto;
}